/* game board table */
body {
  background-color: lightgray;
}

h1 {
  color: whitesmoke;
  text-shadow:rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  text-align: center;
  font-family: Dela Gothic One;
  font-size: 40px;
  margin: auto;
  width: 280px;
}

#num-color{
  font-size: 60px;
  color: red;
  
}

#board {
  justify-content: center;
  margin: auto;
  z-index: 2;
}

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: sliding-vertically;
  animation-name: fall-animation;
  animation-duration: 500ms;
}
@keyframes fall-animation {
  from {
      transform: translateY(-420px);
  }
  to {
      transform: translateY(0);
  }
}


.piece.p1 {
  background-color: rgb(26, 35, 170);
}

.piece.p2 {
  background-color: rgb(141, 3, 3);
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px rgb(87, 81, 8);
}

#column-top td:hover {
  cursor: pointer;
  background-color: gold;
}